@import "~bootstrap/dist/css/bootstrap.min.css";

.card-img {
  height: 200px;
  width: 100%;
  object-fit: scale-down;
}

.book-card:hover {
  cursor: pointer;
  border: 1px solid #c5c5c5;
  position: relative;
  bottom: 3px;
}

.info-img {
  height: 300px;
  width: 100%;
  object-fit: scale-down;
}

.inline {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
